<div>
  <h4> <span> By Age</span> </h4>
  <div>
    <ul>
      <li><label class="checkbox-inline"><input type="checkbox" value="1" [checked]="ageFilter.one" (change)="onChange('one')"> <span>0-3 Months</span> <span>({{ageCounts.one}})</span></label>        </li>
      <li><label class="checkbox-inline"><input type="checkbox" value="2" [checked]="ageFilter.two" (change)="onChange('two')"> <span>4-6 Months</span> <span>({{ageCounts.two}})</span></label>        </li>
      <li><label class="checkbox-inline"><input type="checkbox" value="3" [checked]="ageFilter.three" (change)="onChange('three')"> <span>7-9 Months</span> <span>({{ageCounts.three}})</span></label>        </li>
      <li><label class="checkbox-inline"><input type="checkbox" value="4" [checked]="ageFilter.four" (change)="onChange('four')"> <span>10-12 Months</span> <span>({{ageCounts.four}})</span></label>        </li>
      <li><label class="checkbox-inline"><input type="checkbox" value="5" [checked]="ageFilter.five" (change)="onChange('five')"> <span>13-18 Months</span> <span>({{ageCounts.five}})</span></label>        </li>
      <li><label class="checkbox-inline"><input type="checkbox" value="6" [checked]="ageFilter.six" (change)="onChange('six')"> <span>19-24 Months</span> <span>({{ageCounts.six}})</span></label>        </li>
      <li><label class="checkbox-inline"><input type="checkbox" value="7" [checked]="ageFilter.seven" (change)="onChange('seven')"> <span>2-4 Years</span> <span>({{ageCounts.seven}})</span></label>        </li>
      <li><label class="checkbox-inline"><input type="checkbox" value="8" [checked]="ageFilter.eight" (change)="onChange('eight')"> <span>5-6 Years</span> <span>({{ageCounts.eight}})</span></label>        </li>
      <li><label class="checkbox-inline"><input type="checkbox" value="9" [checked]="ageFilter.nine" (change)="onChange('nine')"> <span>7-8 Years</span> <span>({{ageCounts.nine}})</span></label>        </li>
      <li><label class="checkbox-inline"><input type="checkbox" value="10" [checked]="ageFilter.ten" (change)="onChange('ten')"> <span>9-10 Years</span> <span>({{ageCounts.ten}})</span></label>        </li>
    </ul>
  </div>
</div>
